@model ToDoAppV5.ViewModels.AtividadeStatusRealizadorCategoriaViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Editando atividade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeAtividade" class="control-label">Nome da atividade</label>
                <input asp-for="NomeAtividade" class="form-control" />
                <span asp-validation-for="NomeAtividade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label">Selecione uma categoria</label>
                <select asp-for="IdCategoria" class="form-control">
                    <option>Selecione</option>
                    @foreach (var item in Model.CategoriasLista)
                    {
                        <option value="@item.Id">@item.NomeCategoria</option>
                    }
                </select>
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdStatus" class="control-label">Selecione o status da atividade</label>
                <select asp-for="IdStatus" class="form-control">
                    <option>Selecione</option>
                    @foreach (var item in Model.StatusLista)
                    {
                        <option value="@item.Id">@item.NomeStatus</option>
                    }
                </select>
                <span asp-validation-for="IdStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRealizador" class="control-label">Selecione quem irá realizar a atividade:</label>
                <select asp-for="IdRealizador" class="form-control">
                    <option>Selecione</option>
                    @foreach (var item in Model.RealizadoresLista)
                    {
                        <option value="@item.Id">@item.NomeRealizador</option>
                    }
                </select>
                <span asp-validation-for="IdRealizador" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="hidden">
                <label asp-for="DataRegistro" class="control-label"></label>
                <input asp-for="DataRegistro" class="form-control" />
                <span asp-validation-for="DataRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
