@model ToDoAppV5.ViewModels.AtividadeStatusRealizadorCategoriaViewModel
@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Adicione uma atividade</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Nome da atividade
            </th>
            <th>
               Categoria
            </th>
            <th>
               Status
            </th>
            <th>
               Realizador
            </th>
            <th>
               Data de registro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AtividadesLista) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAtividade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CategoriasLista.FirstOrDefault(m => m.Id == item.IdCategoria).NomeCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.StatusLista.FirstOrDefault(m => m.Id == item.IdStatus).NomeStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.RealizadoresLista.FirstOrDefault(m => m.Id == item.IdRealizador).NomeRealizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRegistro)
            </td>
            <td align="right">

                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
